
<div class="row">
	<div style="background-color:#18252B; height: 68px; width: 100%">
		 <div class="col-lg-3">
		 	<a href="/home"><img src="/assets/affordaLogo.JPG" /></a>
		 	</div>
		 	 <div class="col-lg-4" style="margin-top: 15px;" >
		 	 
		 	 	
		 	 </div>
		 	 
		 	 <div class="col-lg-4" style="margin-top: 10px;" >
		 	
		 	 	
		 	 </div>
	</div>
</div>

<h1>New signup</h1>

<%= render 'form' %>
