<div class="row">
	<div style="background-color:#18252B; height: 68px; width: 100%">
		 <div class="col-lg-3">
		 	<a href="/home"><img src="/assets/affordaLogo.JPG" /></a>
		 	</div>
		 	 <div class="col-lg-4" style="margin-top: 15px;" >
		 	 <input class="form-control" placeholder="Search your item"/>
		 	 	
		 	 </div>
		 	 
		 	 <div class="col-lg-4" style="margin-top: 10px;" >
		 	<img src="/assets/affordaMenu.JPG" />
		 	 	
		 	 </div>
	</div>
</div>


<div class="row">
	<div style="background-color:#D8D9DB; height: 250px; width: 100%">
		<div style="padding: 50px;">
			<div style="text-align: center;">
				<h2>create your own store</h2>
				
			</div>
			<%= render 'registers/form' %>
			<div style="text-align: center;">
				 <blockquote style="border:0"><h4>already have account?<a href="#"> log in here</a></h4></blockquote>
				
			</div>
		</div>
		
		</div>
		
	
</div>

