<div class="row">
	<div style="background-color:#18252B; height: 68px; width: 100%">
		 <div class="col-lg-3">
		 	<a href="/home"><img src="/assets/affordaLogo.JPG" /></a>
		 	</div>
		 	 <div class="col-lg-4" style="margin-top: 15px;" >
		 	 <input class="form-control" placeholder="Search your item"/>
		 	 	
		 	 </div>
		 	 
		 	 <div class="col-lg-4" style="margin-top: 10px;" >
		 	<img src="/assets/affordaMenu.JPG" />
		 	 	
		 	 </div>
	</div>
</div>


<div class="col-lg-6">
  <div class="field">
   	<h4>Email</h4>
   		
   		<input class="form-control"  placeholder="Email" />
    
  </div>
  <div class="field">
    <h4>Passsword</h4>
    <input class="form-control" placeholder="Password" />
    
  </div>
  <div class="actions">
    <%= f.submit 'Create store', class:'btn btn-success' %>
  </div>
  </div>
  
  <div class="col-lg-6" style="padding: 95px;">
  	<img  src="/assets/affordaLoginSide.JPG"/>
  </div>
